@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Inter&family=Outfit&family=Raleway:wght@600&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

@layer base {
  body {
    @apply text-[#212529] bg-[#f8f9fa] !scrollbar-thin !scrollbar-thumb-[#adb5bd];
  }
}

.swiper-pagination-bullets {
  @apply flex justify-center pb-3 gap-x-1;
  position: unset !important;
}
@layer components {

  /* Header */
  .scrolled {
    @apply absolute top-0 z-20 bg-[#e9ecef] opacity-90 font-black;
  }

  .header-icon {
    @apply text-xl;
  }

  /* Hero */
  .hero-btn {
    @apply uppercase text-white border-white border-2 mt-4 md:mt-10 tracking-wider py-1 px-5 md:py-3 md:px-10 ease-in-out duration-300 hover:bg-white hover:text-[#212529];
  }

  /* Teaser */
  .teaser-img {
    @apply object-cover transition duration-300 h-full w-full hover:scale-110;
  }

  .teaser-name {
    @apply absolute bottom-36 left-5 text-white text-4xl;
  }

  /* Footer */
  .footer-icon {
    @apply text-2xl cursor-pointer transition duration-300 hover:scale-125 hover:text-blue-500;
  }

  .footer-links {
    @apply hover:text-gray-600 cursor-pointer;
  }

  /* Side Menu */
  .menu-list {
    @apply text-base md:text-xl p-4 border-t border-gray-300 transition-colors duration-200 cursor-pointer hover:bg-tertiary;
  }

  .card {
    @apply mb-5 block rounded-lg border border-gray-200 shadow-md;
  }

  .primary-button {
    @apply rounded font-fuzzy tracking-wider text-lg bg-[#ced4da] py-2 px-5 transition-colors duration-300 shadow outline-none hover:bg-[#adb5bd] active:bg-amber;
  }

  /* Buttons */
  .login-btn {
    @apply  main-text absolute uppercase bg-white px-4 py-2 rounded-xl transition-colors duration-300 hover:bg-primary hover:text-white;
  }
  .main-btn {
    @apply  font-bold uppercase bg-primary text-white tracking-wider whitespace-nowrap font-montserrat px-8 text-center py-3 rounded-xl transition-colors duration-300 hover:bg-white hover:text-primary;
  }

  /* Loader */
  .spinner-wrapper {
    @apply fixed top-0 left-0 z-50 w-screen h-screen bg-white flex justify-center items-center;
  }
  .spinner {
    @apply animate-spin rounded-full h-32 w-32 border-t-2 border-b-2 border-gray-900;
  }

  /* Cart */
  .cart-title {
    @apply w-[350px] border-2 border-gray-300 py-2 px-4;
  }

  /* Login page */
  .social-icons {
    @apply  transition-all duration-300 cursor-pointer border border-gray-300 p-3 w-max shadow-md hover:scale-105;
  }

}

@layer utilities {
  .absolute-center {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }

  .custom-hover {
    @apply transition duration-200 hover:bg-slate-100 hover:border-x-blue-200;
  }
  .custom-gradient {
    background-image: linear-gradient(to bottom, #ffffff, #e2ecea, #eaf3e8, #dce5df, #cae7c1);
  }

  .main-text {
    @apply font-fuzzy text-[#212529] tracking-wider;
  }
  
  .page-header {
    @apply text-4xl mb-4 font-rubik ;
    filter: drop-shadow(3px 3px 2px #5d5c5c);
  }

  .swiper-pagination-bullet {
    @apply !w-7 !h-7 !bottom-5 border-2 border-primary;
  }
  
  .flow-btn {
    @apply text-xl md:text-2xl relative z-10 overflow-hidden bg-transparent py-3 main-text transition-colors duration-300;
   }
   
   .flow-btn::before {
    @apply content-[""] absolute left-0 top-0 w-full h-full -translate-x-full transition-all duration-300 -z-10;
   }
   
   .flow-btn:hover::before {
    @apply translate-x-0;
   }

   .blur-load {
    @apply bg-cover bg-center bg-no-repeat w-full h-full ;
   }

   .color-active {
    @apply scale-110 border-spacing-2 border-gray-300 border-2 shadow-gray-300 shadow-lg pointer-events-none;
   }

   .drawer {
    transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1) ;
    overflow: hidden;
  }
  
  .drawer-close {
    height: 0px;
    opacity: 0 ;
  }
  
  .drawer-open {
    height: 40px;
    opacity: 1;
  }
}
